name: Send notification to Slack

on:
  release:
    types: [ created ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: "Send custom JSON data to Slack workflow"
        id: slack
        uses: slackapi/slack-github-action@v1.14.0
        with:
          payload: "{\"text\":\"A new release *${{ steps.get_version.outputs.VERSION }}* has been published by *${{ github.actor }}*. Here's the <https://github.com/saagie/api-saagie/blob/master/CHANGELOG.md|latest changelog>  \"}"
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
