name: Release and Publish to PyPi

# Only when PR are merged to MASTER
on:
  push:
    #types: [closed]
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install Poetry
        run:
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -

      - name: "Installs the packages from pyproject.toml"
        run:
          $HOME/.poetry/bin/poetry install

      - name: Bump version push to Git and release to Github
        run: |
          git config --local user.email "service@saagie.com"
          git config --local user.name "Team Service"
          python3 -m pip install python-semantic-release
          semantic-release publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
