name: Release and Publish to PyPi

# Only when PR are merged to MASTER
on:
  pull_request:
    branches:
      - master
    types: [closed]

jobs:
  release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: "Install Poetry"
        run:
          curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -

      - name: "Installs the packages from pyproject.toml"
        run:
          poetry install

      - name: "Bump version, push to Git and release to Github"
        run: |
          git config --local user.email "service@saagie.com"
          git config --local user.name "Team Service"
          poetry run semantic-release publish
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
